.App {
  background-color: #45475a;
}
.heading{
  text-align: center;
  color: white;
}
.something{
  margin-left: 3rem;
}
.addtodo-button{
  background-color: #6273a4;
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 4px;
}
.main-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.name{
  background-color: #6273a4;
  width: 40vw;
  height: 5vh;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.updated-count{
  margin-left: 3px;
}
.del-icon{
  margin-left: 12px;
  background-color: transparent;
  border: 0px;
  color: #e85a61;
}
.updated-words{
  text-align: center;
}
.edit-button{
  margin-left: 12px ;
  background-color: transparent;
  border: 0px;
  color: white;
}